<div class="d-flex justify-content-center mt-5">
    <div class="col-6">
        <form  class="row" (ngSubmit)="OnSubmit()" [formGroup]="loginUsuario">
            <div class="text-center mb-4">
                <h1 class="mb-3">Bienvenido a Optima</h1>
            </div>
            
            <div class="col-12">
                <label class="form-label" for="email">Email: </label>
                <input  class="form-control" type="email" id="email" placeholder="Ex: prueba.pass@gmail.com" formControlName="email"/>
            </div>

            <div class="col-12 mt-3">
                <label class="form-label" for="password">Password: </label>
                <input class="form-control" type="password" id="password" placeholder="Escriba su password" formControlName="password"/>
            </div>

            <div class="d-grid">
                <button 
                    class="btn btn-lg btn-primary mt-3" 
                    [disabled]="loginUsuario.invalid"  
                    type="submit"
                >
                    Inicia Sesion
                </button>

            </div>
        </form>
    </div>
    
</div>